@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");

* {
  font-family: "IBM Plex Sans KR";
}

body {
  margin: 0;
  font-family: "IBM Plex Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p,
ol,
ul,
li,
dl,
dt,
dd,
div,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
select {
  white-space: pre-wrap;
}
